{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <!-- Render all elements normally -->
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
    <!-- Main css file -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <!-- Start header -->
    {% include 'accounts/header.html' %}
    <!-- End header -->

    <!-- Start main content -->
    {% block content %}
    {% endblock %}
    <!-- End main content -->

    <!-- Start footer -->
    {% include 'accounts/footer.html' %}
    <!-- End footer -->
</body>
</html>