{% load static %}
<!-- Start Header -->
<header>
  <div class="container">
    <a class="logo" href="#"
      ><img src="{% static '/images/logo.png' %}" alt="Logo"
    /></a>

    <div class="nav">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Products</a></li>
        {% if request.user.is_authenticated%}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated%}
      <div class="user">{{request.user | slice:":1" }}</div>
      {% endif %}
    </div>
  </div>
</header>
<!-- End Header -->
