{% extends 'accounts/base.html' %} {% block content %}
<!-- Start Signup form -->
<div class="signup">
  <div class="container">
    <h3>Sign up now</h3>
    <h4>Create your account</h4>
    {{signup_form.errors}}
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in signup_form %}
      <label name="{{field.name}}">{{field.label}}</label>
      {{field}}
      {%endfor%}
      <input type="submit" value="Signup">
    </form>
    <p>Already have an account? <a href="">sign in</a></p>
  </div>
</div>
{% endblock %}
<!-- End Signup form -->
